/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 150px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(116px);
  -ms-transform: translateX(116px);
  transform: translateX(116px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;

}

.slider.round:before {
  border-radius: 50%;
}

.slidername {
  position: absolute;
  left: 45px;
  bottom: 10px;
  color: white;
}

/* Style all select fields */
select {
    width: 100%;
    padding: 6px;
    border: 1px solid #2196F3;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 3px;
    margin-bottom: 1px;
}

/* Style the submit button */
button {
    position: relative;
    display: inline-block;
    background-color: #2196F3;
    bottom: 14;
    width: 150px;
    height: 34px;
    border-radius: 34px;
    color: white;
}
body {
    background-color: #f1f1f1;
    padding: 20px;
}
